/* rgba(237,165,128); orange color */
/* rgba(240,158,169); pink color */
/* background-color: rgb(81, 189, 151); lighter green */

@font-face {
    font-family: "billy_ohio";
    src: url("font/webfontkit-20200810-162443/billy_ohio-demo.html");
    src:
    url("font/webfontkit-20200810-162443/billy_ohio-webfont.woff") format("woff"),
    url("font/webfontkit-20200810-162443/billy_ohio-webfont.woff2") format("woff"),
    url("css/fonts/Harabara.svg#filename") format("svg");
    }



body {
    margin: 0;
    padding: 0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    /*put this to keep text from hiding*/
    
    background-image: linear-gradient(-45deg, rgba(81, 189, 151, .9), rgba(81, 189, 151, .4)), url(images/newmockup4.png);
    background-repeat: repeat, repeat;
    background-position: center, left;
    background-size: cover, none;
    width: 100%;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

#leafs {
    fill: rgb(1, 187, 122); 
    /* fill: #C6DDA8; 
    fill: #A6CD9C; */
}

/* CSS for header, use for other pages */

header {
    height: 7vh;
    background-color: rgb(240,164,142);
    width: 100%;
    /* padding: 0px 20px; */
    border-bottom: 2px solid rgb(255,239,206);
    display: flex;
    align-items: center;
    position: fixed; /* made the header stick cause the scroll is long on this page, user can go to other page easier*/
    top: 0;
    margin-bottom: 100px;
    z-index: 10;
}

@media (min-width: 768px) {
    header {
        height: 5vh;
        }}

/* CSS for header, use for other pages */


.small-logo {
    height: 40px;
    display: inline-block;
}

/* how to color small version of logo */
.letsthiswork {
    fill: white;
    display: inline-block;
}

.testing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ffg-header-left {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 45%;
}
@media (min-width: 768px) {
    .ffg-header-left {
        padding-left: 0px;
        }}


.ffg-header-right {
    width: 45%;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .ffg-header-right {
        padding-right: 0px;
        }
    }

.ffg-header-right-nav {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
}

.ffg-nav-list {
    padding-left: 35px;
color: rgb(255,239,206)
}

@media (min-width: 768px) {
    .ffg-nav-list {
        padding-left: 65px;
        }
    }

/* change color when you hover over the nav */

.ffg-nav-list:hover {
    color: rgb(230,61,65);
}

/* end of CSS for header */



/* FOOTER */
footer {
    height: 7vh;
    background-color: rgb(240,164,142);
    width: 100%;
    border-top: 2px solid rgba(255,239,206);
    position: relative;
    bottom: 0;
    color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 768px) {
    footer {
        height: 4vh;
        }}

.footer-text {
    color: rgba(255, 255, 255, .5);
    text-align: center;
}
/* END FOOTER */





/* CENTER */
.center-section {
padding-bottom: 100px;
}


.center-box {
    display: grid;
    grid-template-columns: 1fr;
    /* border-bottom: 8px double rgba(81, 189, 151, .2); */
}


.image-section {
    display: flex;
    align-items: center;
    padding: 40px 0px;
    /* border-bottom: 1px solid rgba(81, 189, 151, .2); */
}

hr {
    width: 90%;
    /* border: 2px solid rgba(81, 189, 151, .1); */
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(81, 189, 151, .1), rgba(81, 189, 151, .9), rgba(81, 189, 151, .1));
    margin-top: 75px;
   
    /* border-width:0; */
    /* color: rgba(81, 189, 151, .9); */
}

@media (min-width: 940px) {
    .center-box {
        grid-template-columns: 1fr 1fr;
        /* border-bottom: hidden; */
       
    }
    .image-section {
        background-color: rgba(81, 189, 151, .2);
    }
    .text-on-right .fruit-text {
        display: inline;
        grid-template-columns: 1fr 1fr; 
        order: 2;
    }
    hr {
        display: none;
    }
    .center-section {
        padding-bottom: 0px;
        }
}

.text-on-right .image-section {
    display: grid;
    grid-template-columns: 1fr;
    order: 2;
}


.fruit-text {
    align-items: center; 
    padding-bottom: 80px;
}

#apple {
    padding-top: 50px;
}


h5 {
    color: rgb(49, 91, 105);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    width: 70%;
    margin: auto;
    padding-top: 10px;
}

h6{
    font-size: 15px;
}



.fruit-image {
    width: 250px;
    margin: auto;

}

.hvr-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }



    .title {
        color: rgb(143, 50, 13);
        margin: auto;
        text-align: center;
        padding-bottom: 40px;
        font-family: "billy_ohio";
        font-size: 198px;
        letter-spacing: 10px;
        padding: 20px 0px;
        transform: rotate(-10deg);
    }

.strawberry {
        font-size: 150px; 
        letter-spacing: 5px;
        padding-top: 100px;
    }


