/* Colors */
/* rgba(237,165,128); orange color */
/* rgba(240,158,169); pink color */
/* rgb(81, 189, 151); lighter green */
/* rgb(29, 110, 94) dark green */
/* #8CC59C; */
/* #C6DDA8; */
/* #A6CD9C; */
/* color: rgb(143, 50, 13); maroon color */

/* original header color: rgb(29, 110, 94); */



body {
    margin: 0;
    padding: 0px;
    /* clear: both; */
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    /*put this to keep text from hiding*/
    
    background-image: linear-gradient(-45deg, rgba(81, 189, 151, .9), rgba(81, 189, 151, .4)), url(images/newmockup3.png);
    /* url(5.png) */

    background-repeat: repeat, no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: none, overlay;
    min-height: 100vh;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: rgb(255,239,206);
}

/* CSS for header, use for other pages */

header {
    height: 5vh;
    background-color: rgb(240,164,142);
    width: 100%;
    /* padding: 0px 20px; */
    border-bottom: 2px solid rgb(255,239,206);
    display: flex;
    align-items: center;
}


.small-logo {
    height: 40px;
    display: inline-block;
}

/* how to color small version of logo */
.letsthiswork {
    fill: white;
    display: inline-block;
}

.testing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ffg-header-left {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 45%;
}
@media (min-width: 768px) {
    .ffg-header-left {
        padding-left: 0px;
        }}


.ffg-header-right {
    width: 45%;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .ffg-header-right {
        padding-right: 0px;
        }
    }

.ffg-header-right-nav {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
}

.ffg-nav-list {
    padding-left: 35px;
color: rgb(255,239,206)
}

@media (min-width: 768px) {
    .ffg-nav-list {
        padding-left: 65px;
        }
    }

/* change color when you hover over the nav */

.ffg-nav-list:hover {
    color: rgb(230,61,65);
}

/* end of CSS for header */



footer {
    height: 6vh;
    background-color: rgb(240,164,142);
    width: 100%;
    border-top: 2px solid rgba(255,239,206);
    position: fixed;
    bottom: 0;
    color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    footer {
        height: 4vh;
        }}


/* Main section! */

.logo-center {
    height: 100px;
    fill: rgba(0,145,119); 
    margin-top: 70px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
/* rgba(29, 110, 94, .9);(255,255,255,.7)    143, 50, 13*/

.centercenter {
width: 90%;
}

@media (min-width: 768px) {
    .centercenter {
        width: 60%;
        }}


#leafs {
    fill: rgb(1, 187, 122); 
    /* fill: #C6DDA8; 
    fill: #A6CD9C; */
}


.make-grid{
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .make-grid {
        grid-template-columns: 1fr 1fr;
    }
    .ffg-main-right {
        padding-top: 40px;
    }
}

/* making the column smaller so text doesn't run across the screen too far when on a large screen */

@media (min-width: 1200px) {
    .ffg-initial-right-info {
        width: 80%;
    }
}

.actual-florida-map {
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
    /* added a dropshadow to the map */
    margin-bottom: -50px;
}
/* hover states for the F map */
#south:hover {
    fill: rgb(237, 165, 128);
    transition: .2s ease-in;
}

#central:hover {
    fill: rgb(237, 165, 128);
    transition: .2s ease-in;
}

#north:hover {
    fill: rgb(237, 165, 128);
    transition: .2s ease-in;
}



.ffg-main-right {
    margin: 20px auto 0px;
    width: 90%;
    /* padding-bottom: 60px; */
    text-align: center;
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    .ffg-main-right {
        text-align: left;

    }
    .listed-fruit {
        text-align: left;
        padding-left: 25px;
    }
}

h1 {
    color: rgb(0,145,119); 
    font-size: 45px;
    line-height: 1.5;
    margin: 0;
    font-weight: bolder;
    font-weight: 600;
}
/* rgba(29, 110, 94) */

h3 {
    color: rgba(30,90,103);
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    font-weight: 300;
    font-style: italic;
}

h5 {
    color: rgb(30,90,103);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

/* .ffg-fruit-list*/
 h6 {
    list-style: none;
    color: rgb(30,90,103);
    font-size: 20px;
    line-height: 2;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

.f-links {
    color: rgb(49, 91, 105);
    text-decoration: none;
}

.f-links:hover {
    color: rgba(240,158,169);
}


.ffg-initial-right-info {
    padding-right: 20px;
}

.specific-regions {
    text-align: center;
}


.button2 {
    border: 3px solid rgb(29, 110, 94);
    border-radius: 5px;
    padding: 15px;
    margin: 30px auto 90px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    transition: .2s ease-in;
    width: 200px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.button2:hover {
    background-color: rgb(237, 165, 128);
    border: none;
}
