/* rgba(237,165,128); orange color */
/* rgba(240,158,169); pink color */
/* background-color: rgb(81, 189, 151); lighter green */

body {
    margin: 0px;
    padding: 0px;
   font-size: 12px;
   font-family: 'Open Sans', sans-serif;
   /* overflow-x: hidden; put this to keep text from hidding */
}

p {
    margin: 0px;
}

/* CSS for header, use for other pages */
header {
    height: 5vh;
    background-color: rgb(29, 110, 94);
    width: 100%;
    /* padding: 0px 20px; */
    border-bottom: 5px solid rgba(237,165,128);
    display: flex;
    align-items: center;
}

/* how I split up the header for flexbox */
.testing {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.ffg-header-left {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 40%;
}

.ffg-header-right {
    width: 40%;
}

.ffg-header-right-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    
}

.ffg-nav-list {
    padding: 0px 25px;
  
}

/* change color when you hover over the nav */
.ffg-nav-list:hover {
    color: rgb(240,158,169);
    /* border-bottom: 1px solid #CBEEFA;
    box-shadow: 0px -4px 0px #CBEEFA inset; */
}
/* end of CSS for header */


/* FOOTER */
footer {
    height: 4vh;
    background-color: rgb(29, 110, 94);
    width: 100%;
    border-top: 5px solid rgba(237,165,128);
    position: fixed;
    bottom: 0;
    color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: rgba(255, 255, 255, .5);
    text-align: center;
}
/* END FOOTER */





/* CENTER */
.center-section {
    background-image: linear-gradient(to top, 
    rgba(81, 189, 151, .9), rgba(81, 189, 151, .2)),url(fruit-background_background.png);
     background-repeat: repeat, no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-top: 0px;
    padding: 70px 0px; */
    min-height: 91vh; 
     /* display: grid;
     grid-template-columns: 1fr;
     grid-area: image / text; */
    

}

.center-flexbox {
   padding-top: 100px;
   grid-area: text;
}

.image-area {
    grid-area: image;
}

.center-box {
    width: 60%;
    background-color: beige;
    margin: auto;
    padding: 50px;
    min-height: 450px;
    border: 7px solid white;

}

h1 {
    color: rgb(143, 50, 13);
    font-size: 45px;
    line-height: 1.5;
    margin: 0;
    font-weight: bolder;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
}

h5 {
    color: rgb(49, 91, 105);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    width: 70%;
    margin: auto;
}

.floating-2 {
    width: 75%;
    padding: 50px;
    margin: auto;
    /* position: absolute;
    bottom: 75px;
    left: -20px; */
    display: none;
}

.floating-1 {
    width: 50%;
    padding: 20px;
    margin: auto;
    /* position: absolute;
    top: 150px;
    right: 150px; */
    display: none;
}

/* images at 768 or highter */
@media (min-width: 768px) {
    .floating-2 {
        max-height: 275px;
        max-width: 275px;
        position: absolute;
        bottom: 75px;
        left: -20px;
        display: block;
    }
    
    .floating-1 {
        max-height: 150px;
        max-width: 150px;
        position: absolute;
        top: 100px;
        right: 50px;
        display: block;
       
    }
  
}






/* images at 1200 or highter */
@media (min-width: 1200px) {
    .floating-2 {
        max-height: 400px;
        max-width: 400px;
        /* position: absolute; */
        bottom: 75px;
        left: -20px;
    }
    
    .floating-1 {
        max-height: 200px;
        max-width: 200px;
        /* position: absolute; */
        top: 100px;
        right: 150px;
    }
}

